* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header {
    background: #f6f6f6;
    padding-left: 20px;
}

.header-title {
    font-family: 'Lobster', cursive;
}

span {
    color: orangered;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.header-menu {
    display: flex;
    align-items: center;
}

.header-menu li .inner-menu {
    position: absolute;
    right: 236px;
    top: 59px;
    background-color: wheat;
    padding-left: 0;
    z-index: 1;
    display: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
}

.header-menu li:hover .inner-menu {
    opacity: 1;
    transform: scale(1);
    transform-origin: top;
}

.inner-menu > li {
    list-style: none;
    padding: 10px 31px;
    border-radius: 5px;
}

.header-menu > li {
    list-style: none;
    padding: 10px 38px;
    border-radius: 5px;
}

li:hover {
    background-color: rgb(255, 255, 255);
    transition: .5s;
}

.inner-menu li:hover .MISBAH-QU {
    opacity: 1;
    transform: scale(1);
}

.MISBAH-QU {
    display: hidden;
    position: absolute;
    top: -7px;
    right: 128px;
    background: white;
    font-size: 13px;
    line-height: 3;
    width: 198px;
    padding-left: 0;
    text-align: center;
    transition: 1s;
    opacity: 0;
    transform: scale(0);
}

.YEASIN {
    position: absolute;
    top: 32px;
    right: 128px;
}

.AL-AMIN {
    position: absolute;
    top: 72px;
    right: 128px;
}
.SAYMON {
    position: absolute;
    top: 110px;
    right: 128px;
}

.SAIDUL {
    position: absolute;
    top: 110px;
    right: 128px;
}

.IMRAN {
    position: absolute;
    top: 149px;
    right: 128px;
}

.KALAM {
    position: absolute;
    top: 188px;
    right: 128px;
}

.SHARIF {
    position: absolute;
    top: 227px;
    right: 128px;
}

.TANJIL {
    position: absolute;
    top: 267px;
    right: 128px;
}

.MISBAH-QU li {
    list-style: none;
    padding: 4px 0;
}

/*  */
main {
    max-width: 900px;
    margin: auto;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    line-height: 79px;
}

.description {
    color: gray;
    margin-bottom: 20px;
    line-height: 28px;
}

.allsection {
    text-align: center;
    padding-top: 130px;
}

.content {
    height: 50%;
    width: 70%;
    margin: auto;
}

.mt {
    margin-top: 130px;
}

.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px;
}

.flex1 {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 30px;
}

/*  */
.banner-section {
    background: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.423);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    height: 669px;
    text-align: center;
}

.banner-section .content {
    position: absolute;
    left: 239px;
    top: 200px;
    margin: auto;
    height: 50%;
    width: 57%;
}

.banner-section .title {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    line-height: 79px;
}

.banner-section .description {
    color: white;
    margin-bottom: 20px;
    line-height: 28px;
}

button.btn-primary {
    background: #FF5959;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 18px 38px;
    font-size: 20px;
}



/* donate-section */

.price {
    background-color: #c0d3d921;
    border-radius: 5px;
    color: gray;
    height: 100px;
    width: 110px;
    line-height: 4;
    padding: 0 9px;
}

hr {
    color: gray;
    margin-bottom: 25px;
}

.price.secondprice {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    color: #FF5959;
}

p.other-description {
    color: #80808085;
    margin-bottom: 6px;
}

/*  */
.flex-section.flex {
    text-align: left;
}

.food {
    padding: 53px 22px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}

.shelter {
    padding: 53px 22px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.education {
    padding: 53px 22px;
    background: rgb(255 164 89 / 37%);
    border-radius: 5px;
}

.flex-content {
    margin: 20px 0;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logo-content {
    text-align: left;
    padding: 50px 0;
}

h1.h1.title {
    font-size: 39px;
    line-height: 1.2;
}

/*  */
input[type="email"] {
    background: #D9D9D9;
    border: none;
    width: 46%;
    padding-left: 24px;
    font-size: 20px;
    margin-right: -10px;
}

.subscribe.flex {
    background: #FFF4D6;
    padding: 68px 0;
}
.update,.logo-content-section {
    background: url(../images/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

footer {
    background: black;
    text-align: center;
    padding: 35px 0;
}

h4.footer-title {
    font-family: 'Lobster', cursive;
    color: red;
    margin-bottom: 17px;
    font-size: 30px;
}

p.footer-description {
    color: white;
    font-size: 12px;
}
.DonatePlan, .donate-section{
    background: url(../images/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left; 
}
.pb{
    padding-bottom: 50px;
}