* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
main{
    max-width: 900px;
    margin: auto;
}
.title {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    line-height: 79px;
}

.description {
    color: gray;
    margin-bottom: 20px;
    line-height: 28px;
}

.allsection {
    text-align: center;
    padding-top: 130px;
}

.content {
    height: 50%;
    width:70%;
    margin: auto;
}

.mt {
    margin-top: 130px;
}

.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px;
}
.flex1{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 30px;  
}

/*  */
.banner-section {
    background: url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 669px;
    text-align: center;
}

.banner-section .content {
    position: absolute;
    left: 239px;
    top: 200px;
    margin: auto;
    height: 50%;
    width: 57%;
}

.banner-section .title {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    line-height: 79px;
}

.banner-section .description {
    color: white;
    margin-bottom: 20px;
    line-height: 28px;
}

button.btn-primary {
    background: #FF5959;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 18px 38px;
    font-size: 20px;
}



/* donate-section */

.price {
    background-color: #c0d3d921;
    border-radius: 5px;
    color: gray;
    height: 100px;
    width: 110px;
    line-height: 4;
    padding: 0 9px;
}
hr{
    color: gray;
    margin-bottom: 25px;
}
.price.secondprice {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
    color: #FF5959;
}
p.other-description {
    color: #80808085;
    margin-bottom: 6px;
}
/*  */
.flex-section.flex {
    text-align: left;
}
.food {
    padding: 53px 22px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
}
.shelter{
    padding: 53px 22px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.education{
    padding: 53px 22px;
    background: rgb(255 164 89 / 37%);
    border-radius: 5px;
}
.flex-content{
margin: 20px 0;
}
.logo-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.logo-content {
    text-align: left;
    padding: 50px 0;
}

h1.h1.title {
    font-size: 39px;
    line-height: 1.2;
}